.card {
    outline: 2px solid #FF0077;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 163px;
    height: 283px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.07);
    cursor: pointer;
    outline: 3px solid #FF0077;
}  
  
.card-image {
    width: 100%;
    height: auto;
}
  
.card-content {
    padding: 8px;
}
  
.card-title {
    font-size: 20px;
}
  
.card-text {
    margin-top: 16px;
    font-size: 20px;
    text-align: center;
}

.circle-card { 
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffa9a9;
    -moz-border-radius: 70px; 
    -webkit-border-radius: 70px; 
    border-radius: 70px;
}

.header-card{
    display: flex;
    gap: 8px;
}

.icon-category-card{
    font-size: 24px;
    color: #fff;
}