.div-profile {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 64px);
}

.profileCard {
    background-color: #fff;
    border: 2px solid #FF0077;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 325px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.profileInfo h2 {
    margin: 10px 0;
    font-size: 1.5em;
}

.profileInfo p {
    color: #777;
}

.profileInfo button {
    margin-top: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #FF0077;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
}

.div-informations-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.editDataProfil{
    color: #FF0077;
    font-size: 20px;
}

.edit-data-content{
    display: flex;
    gap: 4px;
}

.profileInfo button:hover {
    background-color: #a5004d;
}

.delete-profil{
    width: 16%;
    margin: 16px;
}

.profileImageIcon{
    font-size: 104px;
    color: #FF0077;
    margin: 16px;
}

.profileImageIcon:hover{
    cursor: pointer;
    color: #ffa9a9ed;
}

.divFirstname, .divName, .divMail, .divGender, .divFavGender, .divFavFood, .divAge, .divJob, .divPassions{
    display: flex;
    gap: 8px;
}

.user-img-profile-container {
    position: relative;
    display: inline-block;
  }
  
  .edit-button-container-profile {
    position: absolute;
    top: 16px;
    right: 16px;
    background-color: #fff;
    border: 1px solid #FF0077;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    text-align: center;
    transition: background-color 0.3s ease;
  }

  .edit-button-container-profile:hover {
    background-color: #FF0077;
    .edit-button {
      color: white;
    }
  }

.user-img-profile {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}