body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto slab', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.swal2-confirm {
  background-color: #AD0051 !important; /* couleur des alertes */
  color: #fff !important;
  border: none !important;
  box-shadow: none !important;
}

.swal2-confirm:hover {
  background-color: #470021 !important; /* couleur au hover des alertes */
}

.swal2-cancel {
  background: #fff !important;
  color: #AD0051 !important;
  border: 2px solid #AD0051 !important;
  box-shadow: none !important;
}

.swal2-cancel:hover, .swal2-cancel:focus {
  background: #470021 !important;
  color: #fff !important;
  border: 2px solid #470021 !important;
}