.browse-container {
  border-radius: 8px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.browse-image {
  width: 288px;
  height: 130px;
  border-radius: 8px;
  object-fit: cover;
}

.browse-name {
  font-size: 20px;
  margin: 0;
}

.browse-restaurant-review {
  font-size: 14px;
  padding: 8px;
  background: #bbb;
  border-radius: 50px;
}

.view-details {
  display: block;
  margin-top: 8px;
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.browse-card {
  max-width: min-content;
  cursor: pointer;
  margin: 16px;
  gap: 4px;
  display: flex;
  flex-flow: column;
}

.browse-h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container-title {
  margin-left: 32px;
}

.icon-title {
  color: #ff8f00;
  place-self: center;
  font-size: 32px;
}

.header-container {
  display: flex;
  gap: 4px;
}

.icon-heart {
  color: #ff0077;
}

.icon-category {
  transition: background-color 0.3s, color 0.3s;
}

.circle { 
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffa9a9;
  -moz-border-radius: 70px; 
  -webkit-border-radius: 70px; 
  border-radius: 70px;
  transition: transform 0.3s ease;
}

.active .circle {
  background-color: #ff0077;
}

.active .icon-category {
  color: #fff;
}

.active .p-category {
  font-weight: bold;
  color: #ff0077;
}

@media (max-width: 768px) {
  .header-container{
    margin-top: 24px;
  }

  .header-container-title {
    align-content: center;
    font-size: 15px;
  }

  .icon-title {
    font-size: 24px;
  }

  .browse-container {
    padding-top: 0;
    overflow-y: auto;
  }

  .divAsiatique{
    margin-left: 16px;
  }

  .divFast{
    margin-right: 16px;
  }

  .browse-name, .open-status {
    font-size: 15px;
  }

  
}