.browse-container {
    border-radius: 8px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .browse-image {
    width: 288px;
    height: 130px;
    border-radius: 8px;
    object-fit: cover;
  }
  
  .browse-name {
    font-size: 20px;
    margin: 0;
  }
  
  .browse-restaurant-review {
    font-size: 14px;
    padding: 8px;
    background: #bbb;
    border-radius: 50px;
  }
  
  .view-details {
    display: block;
    margin-top: 8px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
  }

  .browse-card{
    max-width: min-content;
    cursor: pointer;
    margin: 16px;
    gap: 4px;
    display: flex;
    flex-flow: column;
  }

  .browse-h2{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-container-title{
    margin-left: 32px;
  }

  .icon-title{
    color: #ff8f00;
    place-self: center;
    font-size: 32px;
  }

  .header-container{
    display: flex;
    gap: 4px;
  }

  .icon-heart{
    color: #ff0077;
  }

  .icon-category:active{
    background-color: #ff0077;
  }
  