.div-container-connection {
  height: calc(100vh - 64px);
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1;
}

.top-container {
  margin-top: 32px;
  margin-left: 64px;
}

.p1-connection {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  color: #AD0051;
}

.p2-connection {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #AD0051;
  margin-top: 8px;
}

.p3-connection {
  font-size: 16px;
  margin-left: 64px;
  margin-right: 64px;
}

.connection {
  color: #AD0051;
  margin-left: 64px;
  margin-top: 32px;
  font-size: 20px;
}

.icons-container {
  margin-top: 32px;
  display: flex;
  gap: 16px;
  justify-content: space-evenly;
}

.message-container-connexion, .user-container-connexion, .restaurant-container-connexion, .premium-container-connexion {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.text-icons{
  width: 96px;
  min-width: fit-content;
  text-align: center;
  font-size: 18px;
}

.connection-button {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto slab", "Roboto",
  "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  background: none;
  color: #AD0051;
  margin-top: 0;
  width: fit-content;
  padding: 0;
  border: none;
  background-color: #fff;
  font-size: 24px;
  cursor: pointer;
  border-bottom: 4px solid #AD0051;
  transition: background-color 0.3s, color 0.3s, border-bottom 0.3s;
}

.connection-button:hover {
  color: #ffa9a9;
  background: none;
  border-bottom: 4px solid #ffa9a9;
  animation: 0.1s ease;
}

.message-icon,
.user-icon,
.restaurant-icon,
.premium-icon {
  color: #AD0051;
  font-size: 64px;
}

@media only screen and (max-width: 320px), only screen and (max-width: 375px), only screen and (max-width: 425px) {

.icons-container {
  flex-direction: column;
  gap: 32px;
}

.text-icons {
  font-size: 14px;
  margin-left: 48px;
  margin-right: 48px;
}

.message-icon,
.user-icon,
.restaurant-icon,
.premium-icon {
  font-size: 48px;
}

.top-container {
  margin-top: 16px;
}

.icons-container {
  margin-top: 0px;
}

.p2-connection {
  margin-top: 12px;
  font-size: 14px;
}

.p1-connection {
  font-size: 24px;
}

.connection {
  font-size: 18px;
  margin-left: 96px;
  margin-right: 48px;
  margin-top: 0px;
}

.connection-button {
  font-size: 18px;
}

.p3-connection {
  font-size: 12px;
  margin-bottom: 32px;
  margin-top: 32px;
  margin-left: 64px;
  margin-right: 64px;
}

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

.text-icons {
  font-size: 16px;
}

.message-icon, .user-icon, .restaurant-icon, .premium-icon {
  font-size: 48px;
}

}

@media only screen and (min-width: 426px) {
  .connection-button {
    font-size: 20px;
  }
}