.div-container-connection {
  height: calc(100vh - 64px);
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1;
}

.top-container {
  margin-top: 32px;
  margin-left: 64px;
}

.p1-connection {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  color: #ff0077;
}

.p2-connection {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #ff0077;
  margin-top: 16px;
}

.connection {
  color: #ff0077;
  margin-left: 64px;
  margin-top: 32px;
  font-size: 24px;
}

.icons-container {
  margin-top: 32px;
  display: flex;
  gap: 16px;
  justify-content: space-evenly;
}

.message-container-connexion, .user-container-connexion, .restaurant-container-connexion, .premium-container-connexion {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.text-icons{
  width: 96px;
  min-width: fit-content;
  text-align: center;
}

.connection-button {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto slab", "Roboto",
  "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  background: none;
  color: #FF0077;
  margin-top: 0;
  width: fit-content;
  padding: 0;
  border: none;
  background-color: #fff;
  font-size: 24px;
  cursor: pointer;
  border-bottom: 4px solid #FF0077;
  transition: background-color 0.3s, color 0.3s, border-bottom 0.3s;
}

.connection-button:hover {
  color: #ffa9a9;
  background: none;
  border-bottom: 4px solid #ffa9a9;
  animation: 0.1s ease;
}

.message-icon,
.user-icon,
.restaurant-icon,
.premium-icon {
  color: #ff0077;
  font-size: 48px;
}
