.parent {
    display: flex;
    place-content: space-evenly;
    flex-wrap: wrap;
}

.parent-match {
    display: flex;
    place-content: space-evenly;
    flex-wrap: wrap;
}

.circle { 
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffa9a9;
    -moz-border-radius: 70px; 
    -webkit-border-radius: 70px; 
    border-radius: 70px;
    transition: transform 0.3s ease;
}

.circle:hover{
    cursor: pointer;
    transform: scale(1.07);
}

.circle-match-home { 
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    -moz-border-radius: 70px; 
    -webkit-border-radius: 70px; 
    border-radius: 70px;
    gap: 16px;
}

.user-card{
    transition: transform 0.3s ease;
}

.user-card:hover{
    cursor: pointer;
    transform: scale(1.07);
}


.user-image { 
    width: 100px;
    height: 100px;
    -moz-border-radius: 70px; 
    -webkit-border-radius: 70px; 
    border-radius: 70px;
}

.div-card {
    overflow-x: auto;
    white-space: nowrap;
    overflow-y: hidden;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: 64px;
    margin-right: 64px;
}

.p1-home{
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    color: #FF0077;
    margin-top: 32px;
    margin-left: 64px;
}

.p2-home{
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #FF0077;
    margin-left: 64px;
    margin-top: 16px;
}

.p3-home{
    color: #FF0077;
    margin-left: 96px;
    margin-bottom: 16px;
    font-size: 32px;
}

.p-match {
    color: #FF0077;
    margin-left: 96px;
    font-size: 32px;
}


.category{
    margin-top: 24px;
}

.p-category{
    margin-top: 16px;
    margin-bottom: 32px;
    text-align: center;
}

.div-match{
    margin-top: 24px;
}

.image-match{
    width: 100%;
    border-radius: 70px;
}

.icon-category{
    font-size: 48px;
    color: #fff;
}

.circle:hover .icon-category {
    animation: rotate360 0.5s ease-in-out;
}

@keyframes rotate360 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.active .circle {
  background-color: #ff0077;
}

.active .icon-category {
  color: #fff;
}

.active .p-category {
  font-weight: bold;
  color: #ff0077;
}

.loading-users {
    margin-top: 32px;
    justify-self: center;
}

.icon-heart-home{
    border-radius: 50px;
    background-color: #FF0077;
    font-size: 16px!important;
    color: #fff!important;
    padding: 4PX;
}

.user-card {
    width: 100%;
    height: 100%;
}

.match-card-image{
    width: 100%;
    height: 100%;
    border-radius: 70px;
}


@media only screen and (max-width: 320px), only screen and (max-width: 375px), only screen and (max-width: 425px)  {
    .parent {
        flex-wrap: nowrap;
        gap: 16px;
        overflow-x: auto;
    }

    .div1{
        margin-left: 16px;
    }

    .p1-home{
        font-size: 20px;
        margin-left: 32px;
    }

    .p2-home{
        font-size: 14px;
        margin-left: 32px;
        margin-top: 8px;
    }

    .p3-home{
        margin-left: 16px;
        font-size: 20px;
    }

    .p-match {
        margin-left: 16px;
        font-size: 20px;
    }

    .div-card {
        margin-left: 0px;
        margin-right: 0px;
    }

    .p-category{
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .icon-category{
        font-size: 32px;
    }

    .circle { 
        width: 70px !important;
        height: 70px !important;
    }

    .circle-match-home { 
        width: 70px !important;
        height: 70px !important;
    }

    .user-image { 
        width: 80px!important;
        height: 80px!important;
    }

    .icon-heart-home{
        font-size: 12px!important;
        padding: 2px;
    }

    .icon-category-card {
        font-size: 16px;
    }

    .parent-match {
        margin-top: 24px;
    }

    .div8{
        margin-right: 16px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .parent {
        flex-wrap: nowrap;
        gap: 16px;
        overflow-x: auto;
    }

    .div1{
        margin-left: 16px;
    }

    .p1-home{
        font-size: 20px;
        margin-left: 32px;
    }

    .p2-home{
        font-size: 14px;
        margin-left: 32px;
        margin-top: 8px;
    }

    .p3-home{
        margin-left: 16px;
        font-size: 20px;
    }

    .p-match {
        margin-left: 16px;
        font-size: 20px;
    }

    .div-card {
        margin-left: 0px;
        margin-right: 0px;
    }

    .p-category{
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .icon-category{
        font-size: 32px;
    }

    .circle { 
        width: 75px !important;
        height: 75px !important;
    }

    .circle-match-home { 
        width: 75px !important;
        height: 75px !important;
    }

    .user-image { 
        width: 80px!important;
        height: 80px!important;
    }

    .icon-heart-home{
        font-size: 12px!important;
        padding: 2px;
    }

    .icon-category-card {
        font-size: 16px;
    }

    .parent-match {
        margin-top: 24px;
    }

    .div8{
        margin-right: 16px;
    }
}

@media only screen and (max-width: 1440px) {
    .parent {
        flex-wrap: nowrap;
        gap: 16px;
        overflow-x: auto;
    }

    .div1{
        margin-left: 16px;
    }

    .p1-home{
        font-size: 20px;
        margin-left: 32px;
    }

    .p2-home{
        font-size: 14px;
        margin-left: 32px;
        margin-top: 8px;
    }

    .p3-home{
        margin-left: 16px;
        font-size: 20px;
    }

    .p-match {
        margin-left: 16px;
        font-size: 20px;
    }

    .div-card {
        margin-left: 0px;
        margin-right: 0px;
    }

    .p-category{
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .icon-category{
        font-size: 32px;
    }

    .circle { 
        width: 75px !important;
        height: 75px !important;
    }

    .circle-match-home { 
        width: 75px !important;
        height: 75px !important;
    }

    .user-image { 
        width: 80px!important;
        height: 80px!important;
    }

    .icon-heart-home{
        font-size: 12px!important;
        padding: 2px;
    }

    .icon-category-card {
        font-size: 16px;
    }

    .parent-match {
        margin-top: 24px;
    }

    .div8{
        margin-right: 16px;
    }

    .category, .div-match{
        margin-top: 16px;
    }
}

@media only screen and (min-width: 1440px) {

    .p-category{
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .div-match, .category{
        margin-top: 16px;
    }
}