.error-message {
  padding: 8px;
  border-radius: 8px;
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
}

.error-message.error {
  background-color: #fee;
  color: #c53030;
  border: 1px solid #fed7d7;
}

.error-message.warning {
  background-color: #fffbeb;
  color: #d69e2e;
  border: 1px solid #faf089;
}

.error-message.success {
  background-color: #f0fff4;
  color: #38a169;
  border: 1px solid #9ae6b4;
}

.error-message.info {
  background-color: #ebf8ff;
  color: #3182ce;
  border: 1px solid #90cdf4;
}

.error-close {
  background: none;
  border: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin: 0;
  padding: 0;
  height: 100%;
  flex: 0;
  color: inherit;
  opacity: 0.7;
  text-box-trim: trim-start;
}

.error-close:hover {
  opacity: 1;
}

.error-text {
  flex: 1 1;
}

.error-close-icon {
  height: 100% !important;
}